html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    position: relative;
    box-sizing: border-box;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

.flex-center__y{
    align-items: center;
}

.half-width{
    width: 50%;
}

.split{
    width: 50%;
    height: 100%;
}

.split:first-of-type{
    border-right: 1px solid black;
}

.split h4{
    text-align: center;
}

.font-size__11{
    font-size: 11px !important;
}

.padding-20{
    padding: 20px;
}

.no-padding{
    padding: 0 !important;
}

tr:hover .mdlext-accordion__tabpanel{
    background: white !important;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.mdlext-accordion__tab:focus{
    outline: none !important;
}

/* FIXES */
.mdlext-accordion__tab[aria-selected=true], .mdlext-accordion__tab{
    background-color: transparent !important;
}

/* animations */
.hide{
    animation: hide .7s;
}

@keyframes hide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}